<div class="row">
    <div class="col-md-12"> 
      <div class="card">
        <div>
          <h2 class="text-start p-3">
            <div class="row">
              <div class="col-md-3">
                <b style="color: firebrick;font-size: xx-large;">Administración de Usuarios</b>
              </div>
  
              <div class="col-md-12 text-end">
               
                <button type="button"   (click)="mostrarModalCrearUser()" class="mr-10 fz-14 btn btn-danger btn-icon-end">
                  <i ></i> Crear Usuario
                </button>
                
              </div>
            </div>
          </h2>
        </div>
  
       

        
        <div class="d-flex flex-row align-items-center"
          style="overflow: auto;padding-left: 10px;padding-right: 10px;">
  
          <!--Table Rol-->
          <table  aria-label class="table table-striped border mt-4" id="table-roles">
            <thead>
              <tr style="font-size: 12.5px;color: crimson;font-weight: 600;">
                <th style="font-weight: 600;width: 5%;text-align: center;vertical-align: middle;">Usuario</th>
                <th style="font-weight: 600;width: 10%;text-align: center;vertical-align: middle;">Nombre</th>
                <th style="font-weight: 600;width: 10%;text-align: center;vertical-align: middle;">Apellidos</th>
                <th style="font-weight: 600;width: 10%;text-align: center;vertical-align: middle;">Departamento</th>
                <th  style="font-weight: 600;width: 5%;text-align: center;vertical-align: middle;">Cargo</th>
                <th  style="font-weight: 600;width: 5%;text-align: center;vertical-align: middle;">Email</th>
                <th  style="font-weight: 600;width: 5%;text-align: center;vertical-align: middle;">Acciones</th>
              </tr>
            </thead> 
            <tbody>
              <tr style="text-align: center; font-size: 12.5px;vertical-align: middle;"
              *ngFor="let ro of dataUsuario"  >
              <td>{{ ro.usuario }}</td>
              <td>{{ro.primerNombre + " " + ro.segundoNombre}}</td>
              <td>{{ro.primerApellido + " " + ro.segundoApellido}}</td>
              <td>{{ ro.idDepartamento }}</td>      
              <td>{{ ro.idCArgo }}</td>  
              <td>{{ ro.email }}</td>    
  
                <td >
                  <button type="button"   (click)="mostrarModalEditarUser(ro.usuario,ro.email,ro.primerNombre,ro.segundoNombre,ro.primerApellido,ro.segundoApellido,ro.idDepartamento,
                  ro.idDepartamento)"  class="mr-10 fz-14 btn   btn-danger btn-icon-end">
                    <i></i> Editar
                  </button>
                  <button type="button" class="btn btn-icon-end">
                    <i class="fas fa-trash-alt" style="color: rgb(220, 20, 60);" (click)="onDelete(ro.usuario)">Eliminar</i>
                  </button>
                </td>  
                 
              </tr>           
            </tbody>
          </table>
          <!--End Table -->
       
          <!--Modal Crear Usuario-->
          <ng-template #myModalUsuarioN let-modal >
            <div class="row">
              <div class="col-md-15">
                <div class="modal">
                  <div>
                    <h2 class="modal-content">
                      <div class="row">
                        <div class="col-md-5">
                          <b style="color: firebrick;font-size: xx-large;margin: 20px;"> Crear Usuario</b>
                        </div>
  
                        <div class="col-md-7 text-end">
                          <button style="margin: 10px; background-color: rgb(255, 255, 255 ) !important;
                          color: rgb(220, 20, 60);" type="button"
                           (click)="modal.dismiss('Cross click')"
                            class="mr-10 fz-14 btn btn-danger btn-icon-end">Cancelar
                          </button>
  
                          <button type="button" class="mr-10 fz-14 btn btn-danger btn-icon-end"
                          (click)="onGuardarRol()" aria-label="Close"> 
                          <i   class="fas fa-save"></i> Guardar
                          </button>
                        </div>
                      </div>
                      <div class="row" style="padding-top: 20px; display: flex; justify-content: space-evenly; margin: 10px;">
                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Departamento</label>
                            <div style="width: 40%; padding-top:0px; ">
                              <select (change)="onDepa($event)" style="text-align: center" id="Origen" class="form-select fz-10">
                                <option  value=""  hidden>Selecccione</option>
                                <option  *ngFor="let de of dataDepar" [value]="de.id" > {{ de.nombre}}</option>  
                              </select>
                          </div>
                          </div>
                        </div>

                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Cargos</label>
                            <div style="width: 40%; padding-top:0px; ">
                              <select (change)="onCargo($event)" style="text-align: center" id="Origen" class="form-select fz-10">
                                <option  value=""  hidden>Selecccione</option>
                                <option  *ngFor="let car of dataCargo" [value]="car.id" > {{ car.nombre}}</option>  
                              </select>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="padding-top: 20px; display: flex; justify-content: space-evenly; margin: 10px;">
                        
                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Usuario</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="usuario">
                          </div>
                          </div>
                        </div>

                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Email</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="email">
                          </div>
                          </div>
                        </div>
                       
                      </div>
                      <div class="row" style="padding-top: 20px; display: flex; justify-content: space-evenly; margin: 10px;">
                        
                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Primer Nombre</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="pNombre">
                          </div>
                          </div>
                        </div>

                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Segundo Nombre</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="sNombre">
                          </div>
                          </div>
                        </div>
                       
                      </div>
                      <div class="row" style="padding-top: 20px; display: flex; justify-content: space-evenly; margin: 10px;">
                        
                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Primer Apellido</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="pApellido">
                          </div>
                          </div>
                        </div>

                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Segundo Apellido</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="sApellido">
                          </div>
                          </div>
                        </div>
                       
                      </div>
  
                     
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <!--End Modal Crear Usuario-->

          <!--Modal Editar Usuario-->
          <ng-template #myModalUsuarioM let-modal >
            <div class="row">
              <div class="col-md-15">
                <div class="modal">
                  <div>
                    <h2 class="modal-content">
                      <div class="row">
                        <div class="col-md-5">
                          <b style="color: firebrick;font-size: xx-large;margin: 20px;"> Editar Usuario</b>
                        </div>
  
                        <div class="col-md-7 text-end">
                          <button style="margin: 10px; background-color: rgb(255, 255, 255 ) !important;
                          color: rgb(220, 20, 60);" type="button"
                           (click)="modal.dismiss('Cross click')"
                            class="mr-10 fz-14 btn btn-danger btn-icon-end">Cancelar
                          </button>
  
                          <button type="button" class="mr-10 fz-14 btn btn-danger btn-icon-end"
                          (click)="onEditarUser()" aria-label="Close"> 
                          <i   class="fas fa-save"></i> Guardar
                          </button>
                        </div>
                      </div>
                      <div class="row" style="padding-top: 20px; display: flex; justify-content: space-evenly; margin: 10px;">
                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Departamento</label>
                            <div style="width: 40%; padding-top:0px; ">
                              <select  [(ngModel)]="onTipoSeleccionadoD" (change)="onDepa($event)" style="text-align: center" id="Origen" class="form-select fz-10">
                                <option  value=""  hidden>Selecccione</option>
                                <option  *ngFor="let de of dataDepar" [value]="de.id" > {{ de.nombre}}</option>  
                              </select>
                          </div>
                          </div>
                        </div>

                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Cargos</label>
                            <div style="width: 40%; padding-top:0px; ">
                              <select  [(ngModel)]="onTipoSeleccionadoC"(change)="onCargo($event)" style="text-align: center" id="Origen" class="form-select fz-10">
                                <option  value=""  hidden>Selecccione</option>
                                <option  *ngFor="let car of dataCargo" [value]="car.id" > {{ car.nombre}}</option>  
                              </select>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="padding-top: 20px; display: flex; justify-content: space-evenly; margin: 10px;">
                        
                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Usuario</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  disabled style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="usuarioE"  [value]="usuario">
                          </div>
                          </div>
                        </div>

                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Email</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="emailE"  [value]="email">
                          </div>
                          </div>
                        </div>
                       
                      </div>
                      <div class="row" style="padding-top: 20px; display: flex; justify-content: space-evenly; margin: 10px;">
                        
                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Primer Nombre</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="pNombreE"  [value]="primerNombre">
                          </div>
                          </div>
                        </div>

                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Segundo Nombre</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="sNombreE"  [value]="segundoNombre">
                          </div>
                          </div>
                        </div>
                       
                      </div>
                      <div class="row" style="padding-top: 20px; display: flex; justify-content: space-evenly; margin: 10px;">
                        
                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Primer Apellido</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="pApellidoE" [value]="primerApellido">
                          </div>
                          </div>
                        </div>

                        <div class="col-md-4" style="width: 50%;">
                          <div class="input-group mb-3" >
                            <label class="input-text" for="codigoM" 
                            style="  padding-top:8px;  font-size: 15px;color: crimson;width: 31%; background-color: rgba(255, 255, 255, 0);">Segundo Apellido</label>
                            <div style="width: 40%; padding-top:0px; ">
                            <input  style="  border-radius: 5px; border-color: rgb(192, 186, 184);"class="form-control"   type="text" id="sApellidoE" [value]="segundoApellido">
                          </div>
                          </div>
                        </div>
                       
                      </div>
  
                     
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <!--End Modal Editar Usuario-->
  
        </div>
          
      </div>
    </div>
  </div>
  
